<section>
<h1> List of Students </h1>
</section>

<h3> Total students: <%= @students_count %> </h3>

<ul> <% @students.each do |s| %>
	<li> <a href= <%= "/students/#{s.id}" %> > <%= s.firstname %> <%= s.lastname %> </a> </li> <br>
	<% end %>
</ul>



<div> <a href= / > Home </a> </div>