<section>
	<h1> <%= @student.firstname %> <%= @student.lastname %> </h1>
</section>

<div> Field of interest <%= @student.field %> </div> <br>

<div> <a href= <%= "/students/#{@student.id}/edit" %> > Edit Student Profile </a> </div> <br>

<div> <a href= /students/ > Back to Students </a> </div> <br>

<div> <a href= / > Home </a> </div>