<section>
	<h1> <%= @user.firstname %> <%= @user.lastname %> </h1>
</section>

<div> Field of interest <%= @user.field %> </div> <br>

<div> <a href= <%= "/users/#{@user.id}/edit" %> > Edit Profile </a> </div> <br>