<section>
	<h1> Hi, <%= @user.firstname %>! </h1>
</section>

<div> Thank you for signing up as a <%= @user.user_type %> </div> <br>

<div> Field of interest <%= @user.field %> </div> <br>

<div> <a href= <%= "/users/#{@user.id}/edit" %> > Edit Profile </a> </div> <br>