<!DOCTYPE html>
<html>
<head>
	<title>CareerGuide</title>
	<link rel="stylesheet" href="assets/stylesheets/homepage.css">
</head>
	
<body>

  	<header>
  		<h1> Welcome to the KCS Careers Evening site! </h1>
  	</header>
  	
  	<p> Helping our students and career advisors to connect </p> <br><br>

  	<section class=main>
      <h2> <a href= /users/new > Sign up here </a> </h2> <br><br>
    </section>



  	<section>
      <h2> Existing user?  </h2> <br><br>
      <div> <a href= /users/ > View all users </a> </div> <br><br>
      <div> <a href= /students/ > View all students </a> </div> <br><br>
      <div> <a href= /advisors/ > View all advisors </a> </div> <br><br>
  	</section>

  </body>
 </html>