<!DOCTYPE html>
<html>
<head>
	<title>CareerGuide</title>
	<link rel="stylesheet" href="assets/stylesheets/homepage.css">
</head>
	
<body>
  	<header>
  		<h1> Welcome to the KCS Careers Evening site! </h1>
  	</header>
  	
  	<p> Helping our students and career advisors to connect </p> <br><br>

  	<section>
  		<div> I am a student </div> <br><br>
      <div> <a href= /students/ > View all students </a> </div> <br><br>
	  </section>
  	
  	<section>
  		<div> I am an advisor </div><br><br>
      <div> <a href= /advisors/ > View all advisors </a> </div> <br><br>
  	</section>

  </body>
 </html>