<section>
<h1> List of Advisors </h1>
</section>

<h3> Total advisors: <%= @advisors.count %> </h3>

<ul> <% @advisors.each do |a| %>
	<li> <a href= <%= "/advisors/#{a.id}" %> > <%= a.firstname %> <%= a.lastname %> </a> </li> <br>
	<% end %>
</ul>

</div>