<h1> <%= @advisor.firstname %> <%= @advisor.lastname %> </h1>

<div> University <%= @advisor.university %> </div> <br>
<div> Career <%= @advisor.field %> </div> <br>

<div> <a href= /advisors/ > Back to Advisors </a> </div> <br>

<div> <a href= / > Home </a> </div>