/*.main {
	max-width: 600px;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*/

h1, h2 {
	font-family: Arial, Helvetica, sans-serif;
	color: #485992;
}

a, p, div {
	font-family: Arial, Helvetica, sans-serif;
	color: #9d9f27;	
}